/application/**
/node_modules/**
/bower_components/**
/ci/**
/storages/**
/vendor/**
/nbproject/**
/build/**
/coverage/**
/docs/**
/jsdoc/**
/templates/**
/test/**
/tmp/**
test.js
!.eslintrc.js
**/*{.,-}min.js
