image: docker:17.06

stages:
    - test

before_script:
    - find . -type d -exec chmod 755 {} +
    - find . -type f -exec chmod 644 {} +

test-unitary:
    stage: test
    environment: testing
    script:
        - mkdir test
        - touch test/result_test.html
        - cp composer.json test
        - docker run --rm --tty --volume $PWD:/app --workdir /app/test composer:1.4 install --ignore-platform-reqs --no-scripts --no-progress
        - cp -r test/vendor/codeigniter/framework/* test
        - mkdir -p test/vendor/santiane/restclient
        - cp -r libraries test/vendor/santiane/restclient
        - cp -r config test/application
        - cp -r tests test/application
        - docker run --rm --detach --name=phpcli71-$CI_PROJECT_ID --volume $PWD:/app --workdir /app php:7.1-cli php -S 0.0.0.0:8000 -t /app index.php
        - docker ps
        - docker exec --workdir /app/ phpcli71-$CI_PROJECT_ID php index.php test
        - docker stop phpcli71-$CI_PROJECT_ID
        - docker rm phpcli71-$CI_PROJECT_ID
    artifacts:
        when: on_failure
        paths: [test/result_test.html]
    only:
        - testing
