image: docker:17.06

stages:
    - test

before_script:
    - find . -type d -exec chmod 755 {} +
    - find . -type f -exec chmod 644 {} +
    - find ./ci -type f -exec chmod 755 {} +

test-codereview:
    stage: test
    environment: testing
    script:
        - docker run --rm --tty --volume "$PWD":/code --volume /var/run/docker.sock:/var/run/docker.sock --volume /tmp/cc:/tmp/cc --env CODECLIMATE_CODE="$PWD" --env CONTAINER_TIMEOUT_SECONDS=3600 codeclimate/codeclimate:0.73.0 analyze -e phpmd -e eslint -f html > codereview.html && cat codereview.html | grep -i 'no issue'
    artifacts:
        when: on_failure
        paths: [codereview.html]
    only:
        - testing

test-unitary:
    stage: test
    environment: testing
    script:
        - cp composer.json test
        - docker run --rm --tty --volume $PWD:/app --workdir /app/test composer:1.4 install --ignore-platform-reqs --no-scripts --no-progress
        - cp -r test/vendor/codeigniter/framework/* test
        - mkdir -p test/vendor/santiane/restclient
        - mkdir -p test/ci
        - cp -r ci test
        - cp -r libraries test/vendor/santiane/restclient
        - cp -r config test/application
        - docker run --rm --tty -e CI_ENV=testing --volume $PWD/test:/app --workdir /app --entrypoint="ci/phpserver_entrypoint.sh" php:7.1-cli sh -c "php index.php test"
    only:
        - testing
