image: docker:17.06

stages:
    - test

before_script:
    - find . -type d -exec chmod 755 {} +
    - find . -type f -exec chmod 644 {} +

test-unitary:
    stage: test
    environment: testing
    script:
        - mkdir test
        - touch test/result_test.html
        - cp composer.json test
        - mkdir test/vendor/santiane/restclient
        - cp -r libraries test/vendor/santiane/restclient
        - cp -r config test/application
        - cp -r tests test/application
        - ls -lah
        - docker run --rm --tty --volume $PWD/test:/app --workdir /app composer:1.4 install --ignore-platform-reqs --no-scripts --no-progress
        - cp -r test/vendor/codeigniter/framework/* test
        - ls -lah
        - docker run --rm --tty -e CI_ENV=testing --volume $PWD/test:/app --workdir /app --entrypoint="ci/docker_entrypoint_php.sh" php:7.1-cli php -S localhost:8000 index.php test
    artifacts:
        when: on_failure
        paths: [test/result_test.html]
    only:
        - testing
